.call-me {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 50;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
    .toch {
        width: 100%;
        border-radius: 20px;
        background-color: #ffffff;
        p {
            font-size: 20px;
            text-align: center;
        }

    }
    .close-call {
        position: absolute;
        z-index: 55;
        top: 0;
        right: 0;
        width: 25px;
        font-size: 18px;
        background-color: #F6E5E4;
        border: solid 1px #9D9D9D;
        border-radius: 50%;
    }

}

.call-form {
    display: none;
    background-color: rgba(118, 226, 123, 0.8);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;

    div {
        display: table;
        width: 100%;
        height: 100%;
        .div-table-cell {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            .center-block {
                margin-top: 25%;
                width: 30%;
                max-width: 300px;
            }
        }
    }
    .div-close-form {
        position: absolute;
        z-index: 102;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 36px;
        background-color: #F6E5E4;
        border: solid 1px #9D9D9D;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            background-color: #10A605;
        }
    }
}
#form {
    div {
        label {
            font-size: 18px;
        }
    }
    input[type="button"] {
        font-weight: bold;
        background-color: #F8FB00;
    }
}