{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teplica-Kero</title>
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/slimbox2.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    
    <script type="text/javascript" src="{% static 'static/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/slimbox2.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/bootstrap.min.js' %}"></script>

</head>
<body>
    <div class="wrapper">
        <div class="site">
          
            {% block start %}{% endblock %}
            {% block contacts %}{% endblock %}
            {% block photos %}{% endblock %}
            {% block products %}{% endblock %}
            {% block calculator %}{% endblock %}

        </div>
        <div class="footer">
            <img src="http://127.0.0.1:8000/media/images/bottomphoto.png" alt="" class="bottom-photo" width="100%">
            <div class="kruhgol">
                Created by <a href="http://nmkdeveloper.kh.ua">Nikolay Krugol</a>
            </div>
        </div>
        
    </div>

</body>
</html>